<div class="partial-content">
    <div ng-repeat="company in companies" class="panel panel-default">
        <div class="panel-heading">
            <a href="" ng-click="company.isCollapsed = !company.isCollapsed">
                Company-{{company.companyId}} : {{company.name}}
            </a>
        </div>

        <div ng-show="company.isCollapsed"  class="panel-body">
            <div ng-repeat="gateway in company.gateways" ng-init="gatewayIndex=$index" class="panel panel-default">
                <div class="panel-heading">
                    <a href="" ng-click="gateway.isCollapsed = !gateway.isCollapsed">
                        <i ng-show="gateway.alive" class="fa fa-heartbeat fa-fw info"></i>
                        <i ng-show="!gateway.alive" class="fa fa-heart-o fa-fw inactive"></i>
                        Gateway-{{gateway.gatewayId}} : {{gateway.name}} : Current Version : {{gateway.gatewaySoftwareUpgrade.softwareVersion}}

                    </a>

                    <i ng-show="gateway.gatewaySoftwareUpgrade.status == 'CONFIRMED'"
                       tooltip-placement="top" uib-tooltip="Confirmed"
                       class="info fa fa-check fa-fw"></i>
                    <i ng-show="gateway.gatewaySoftwareUpgrade.status == 'PUBLISHED'"
                       tooltip-placement="top" uib-tooltip="Deployed"
                       class="warning fa fa-hourglass-2 fa-fw"></i>

                    <i ng-show="gateway.newVersion"
                       tooltip-placement="top" uib-tooltip="New version available"
                       class="notice fa fa-download fa-fw"></i>

            <span class="pull-right">
                <label>Select version</label>
                <select class="form-control panel-header-form-control"
                        ng-model="gateway.selectedVersion">
                    <option ng-repeat="f in files" value="{{f}}">Version {{f}}</option>
                </select>

                <button type="button"
                        ng-disabled="!files || files.length == 0"
                        class="btn btn-primary btn-xs"
                        ng-click="openSoftwareUpgradeModal(gateway);">
                    <i class="fa fa-cloud-download fa-fw"></i> {{'label.upgrade' | translate }}
                </button>

            </span>
                </div>
                <div ng-show="gateway.isCollapsed" class="panel-body">
                    <div ng-show="gateway.logs" class="list-group">
                        <div ng-repeat="log in gateway.logs" class="list-group-item">
                            {{'label.version' | translate }}: {{log.content}}
                    <span class="pull-right text-muted small">
                        <em>{{log.username}} @ {{log.timestamp | date:"yyyy-MM-dd hh:mm:ss"}}</em>
                    </span>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
    
</div>